html {
    font-size: 16px;
    height: -webkit-fill-available;
}

@media screen and (max-width: 550px) {
    html {
        font-size: 3vw;
    }
}

body {
    overflow: hidden;
    height: 100dvh;
    max-height: -webkit-fill-available;
}

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

main {
    display: grid;
    place-items: center;
}

body,
footer {
    display: flex;
}

main[hidden] {
    display: none;
}

body {
    flex-flow: column;
}

footer {
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

main {
    height: 100%;
}

header {
    position: fixed;
}

header {
    top: 0;
    right: 0;
    z-index: 5;
}

footer {
    background: #fff;
    gap: 0.5rem;
    padding: 0.5rem;
    width: 100%;
}

button {
    appearance: none;
    border: none;
    color: inherit;
    display: grid;
    place-items: center;
    outline: none;
}

header button {
    background: #fff;
    border-radius: 50%;
    padding: 0;
    margin: 1rem;
    width: 2.5rem;
    height: 2.5rem;
}

h2 button {
    border-radius: 1.5rem;
    padding: 0.5rem;
    margin: 1rem 0 0;
    font-size: 55%;
}

h2 span {
    display: inline-block;
    min-width: 1rem;
}

main {
    position: relative;
}

#main p,
#infomation h3 {
    position: absolute;
}

#main p {
    transform: translate(-50%, -50%);
}

#infomation h3 {
    bottom: 1rem;
    left: 2rem;
}

h1 {
    text-align: center;
}

h1,
#infomation h3 {
    color: #fff;
}

#infomation h3 time {
    writing-mode: vertical-lr;
}

h1 {
    font-size: 250%;
    font-weight: lighter;
    line-height: 200%;
}

h2 {
    font-size: 200%;
}

header button {
    font-size: 150%;
}

#infomation h3 {
    font-size: 111%;
    line-height: 150%;
}

footer {
    font-size: 95%;
}

#infomation h3 {
    letter-spacing: 0.25rem;
}

h1 small {
    display: block;
    font-size: 35%;
    font-weight: 600;
    letter-spacing: 0.1rem;
}

h1,
h2 {
    font-family: 'Futura', monospace;
    word-spacing: -.25rem;
}

footer,
h3 {
    font-family: "MS Mincho", "SimSong", serif;
}

h1 small {
    font-family: Arial, sans-serif;
}