#hello {
    background-image: url('img/cover.jpg');
    background-position: right 2rem bottom;
    background-size: auto;
}

#main {
    background-image: url('img/main.jpg');
    background-position: right 2rem top 2rem;
    background-size: 50%;
}

main .logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 25%;
    padding: 2.5rem 1rem;
    max-width: 250px;
    z-index: 0;
}

#modal h3 {
    padding: 1rem;
}

#modal summary,
#modal a {
    padding: 0.5rem 1rem;
}

#modal sup {
    padding-left: 0.25rem;
}

#modal h3 {
    margin: 0 0 1rem;
}

#modal a,
#modal sup {
    display: block;
}

#modal sup {
    float: right;
}

#modal {
    width: 75%;
    max-width: 750px;
}

#modal details,
#modal a {
    width: 100%;
}