html {
    font-size: 16px;
}

body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
}

hr {
    border: none;
    margin: 2.5rem;
}

* {
    box-sizing: border-box;
}

header,
button,
main u:hover,
#modal a:hover {
    background: linear-gradient(0.25turn, #FBDC02, #FC2C7F, #9DFAD7);
    color: #fff;
    cursor: pointer;
}

header:hover,
button:hover {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

body,
.button {
    display: grid;
    place-items: center;
}

header,
footer,
#modal a {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    padding: 1rem 2.5%;
    width: 100%;
}

header {
    align-items: start;
    place-self: start;
}

footer {
    align-items: end;
    place-self: end;
}

#hello {
    background-image: url('../img/cover.jpg');
    background-position: right 2rem bottom;
    background-size: auto;
}

#main {
    background-image: url('../img/main.jpg');
    background-position: right 2rem top 2rem;
    background-size: 50%;
}

main,
#modal a {
    position: relative;
}

main {
    background-repeat: no-repeat;
    padding: 1rem;
    margin: 1rem auto;
    max-width: 1000px;
}

main .logo {
    position: absolute;
}

#modal a strong {
    padding-top: 0.5rem;
    width: 100%;
    text-align: center;
}

main .logo {
    top: 0;
    left: 0;
    width: 25%;
    padding: 2.5rem 1rem;
    max-width: 250px;
    z-index: 0;
    pointer-events: none;
    user-select: none;
}

main h1 {
    text-align: center;
    margin: 5rem 12.5rem;
}

main h2 {
    margin: 2.5rem 0;
}

main h3 {
    margin: 1rem 7.5vw;
    width: calc(100% - 15vw);
}

main p {
    margin: 1rem 2.5vw;
}

footer img {
    width: 40%;
    max-width: 222px;
}

#modal {
    width: 90%;
    max-width: 750px;
}

#modal h3 {
    padding: 0;
    margin: 0.3rem 0 1rem;
}

#modal a {
    color: #000;
    text-decoration: none;
}

.button {
    float: right;
    width: 2.5rem;
    height: 2.5rem;
}

button {
    appearance: none;
    border: none;
    border-radius: 1rem;
    outline: none;
    text-decoration: none;
    padding: 0.5rem;
    margin: 0;
}

main,
#modal {
    font-family: Arial, 'YuGothic', sans-serif;
}

i,
#modal a time {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: 555;
}

h1,
h2,
h3 {
    font-weight: 500;
}

main h2,
main h3 {
    font-size: 200%;
}

main h1 {
    font-size: 175%;
}

main p,
.button {
    font-size: 150%;
}

header,
header strong,
#modal a,
i,
button {
    font-size: 111%;
}

main h2,
main h3,
#modal a strong {
    line-height: 150%;
}

@media screen and (max-width: 1000px) {
    html {
        font-size: 2vw;
    }

    #hello {
        background-size: 70%;
    }

    #hello h1 {
        margin: 3.5rem 12.5vw;
    }

    #hello h2 {
        margin: 2.5rem 2vw;
    }
}