html {
    font-size: 16px;
    height: -webkit-fill-available;
}

* {
    box-sizing: border-box;
}

header,
button,
main u:hover,
#modal a:hover,
#modal summary:hover,
#modal details[open] summary,
menu li:hover,
menu li strong,
#title a {
    background: linear-gradient(0.25turn, #FBDC02, #FC2C7F, #9DFAD7);
    color: #fff;
}

header:hover,
button:hover,
menu li strong,
#title a {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

menu li:hover strong {
    text-shadow: 1px 1px 0 #fff;
}

#modal a {
    color: inherit;
    text-decoration: none;
}

header:hover,
main u:hover,
button:hover,
menu li:hover {
    cursor: pointer;
}

main .logo {
    pointer-events: none;
    user-select: none;
}

body,
dialog {
    padding: 0;
}

main,
footer {
    padding: 1rem;
}

header {
    padding: 0.5rem 1rem;
}

button {
    padding: 0.5rem;
}

body {
    margin: 0;
}

main h1 {
    margin: 5rem 12.5rem;
}

main h2 {
    margin: 2.5rem 0;
}

main h3 {
    margin: 1rem 7.5vw;
    width: calc(100% - 15vw);
}

main p {
    margin: 1rem 2.5vw;
}

body {
    min-height: 100dvh;
}

button {
    appearance: none;
    border: none;
    outline: none;
    text-decoration: none;
}

hr {
    border: none;
    margin: 2.5rem;
}

.button,
footer button {
    border-radius: 1rem;
}

.button {
    display: block;
    float: right;
}

body,
.button {
    display: grid;
    place-items: center;
}

header,
footer {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
}

header {
    align-items: start;
    place-self: start;
}

footer {
    align-items: end;
    place-self: end;
}

main {
    position: relative;
}

main {
    background-repeat: no-repeat;
    margin: 1rem auto;
    max-width: 1000px;
}

footer a {
    width: 15rem;
}

header,
footer,
footer a img {
    width: 100%;
}

.button {
    padding: 0.5rem;
    width: 2.5rem;
    height: 2.5rem;
}

body {
    font-family: Arial, 'YuGothic', sans-serif;
}

i,
#modal sup,
menu li strong {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: 555;
}

main h1 {
    text-align: center;
}

h1,
h2,
h3 {
    font-weight: 500;
}

main h2,
main h3 {
    font-size: 200%;
}

main h1 {
    font-size: 175%;
}

main p,
.button {
    font-size: 150%;
}

#modal h3 i,
#modal summary {
    font-size: 125%;
}

header,
header strong,
#modal a,
i,
button {
    font-size: 111%;
}

main h2,
main h3 {
    line-height: 150%;
}